In [22]:
#Dependencies
import pandas as pd

In [29]:
from sqlalchemy import create_engine
from config import Password

In [49]:
#Create engine
engine = create_engine('postgresql://postgres:postgres@localhost:5432/SQL-Challenge')
connection = engine.connect()

#import matplotlib dependencies
%matplotlib
from matplotlib import pyplot as plt
import numpy as np
import scipy.stats as stats

Using matplotlib backend: Qt5Agg

In [44]:
#Read in sql databases
employees = pd.read_sql("SELECT * FROM Employees", connection)
salary = pd.read_sql("SELECT * FROM Salaries", connection)
title = pd.read_sql("SELECT * FROM Titles", connection)

In [50]:
salary.head()

   emp_no  salary
0   10001   60117
1   10002   65828
2   10003   40006
3   10004   40054
4   10005   78228

In [55]:
#Bonus 1 Create a histogram to visualize the most common salary ranges for employees
plt.hist(salary['salary'], 10, density=False, label="Salary")
mean_sal = salary['salary'].mean()
#code for the mean line accessed from: https://matplotlib.org/3.3.1/api/_as_gen/matplotlib.pyplot.axvline.html
plt.axvline(mean_sal, color='b', linestyle='dashed', linewidth=1, label="Salary Mean")
plt.xlabel("Salary")
plt.ylabel("Number of Employees")
plt.legend()
plt.title("Most Common Salary Ranges")
plt.savefig("MostCommonSalaryRanges.png")
plt.show()

In [57]:
#Bonus 2 Create a bar chart of average salary by title